{% extends 'base.html' %}

{% block title %}About - AWS Capstone Project{% endblock %}

{% block content %}
<div class="container" style="max-width: 800px; text-align: left;">
    <h1 style="text-align: center; color: var(--primary-color);">About Us</h1>
    <!-- <p>Welcome to the <strong>AWS Capstone Project Deployment</strong> portal. This platform is designed to bridge the
        gap between theoretical knowledge and practical cloud implementation.</p> -->

    <!-- <h3>Our Mission</h3> -->
    <p>FaveBy is a cloud-based AI-Driven Personalized Marketing Platform system that uses machine learning 
        to deliver personalized marketing messages to customers in real time. Built on AWS, it
         analyzes customer behavior and preferences to automate targeted campaigns, helping improve
          user engagement, conversion rates, and customer retention.</p>

    <p>Amazon EC2 runs the marketing models, while customer data and campaign metrics are stored 
        in DynamoDB for fast and scalable access. AWS SNS is used to send personalized notifications
         through email, SMS, or push messages. Security and access control are managed using AWS IAM, 
         ensuring safe and authorized system usage. Overall, the platform enables scalable, secure, and
          data-driven personalized marketing.</p>

    <h3>Tech Stack Details</h3>
    <ul>
        <li><strong>Frontend:</strong> HTML, CSS, JavaScript for responsive and interactive UIs.</li>
        <li><strong>Backend:</strong> Python Flask for robust API and application logic.</li>
        <li><strong>Cloud Infrastructure:</strong> Amazon Web Services (AWS) ensures scalability and reliability.</li>
    </ul>

    <h3>Why AWS?</h3>
    <p>AWS offers the broadest and deepest set of cloud services, making it the perfect choice for learning and
        deploying modern applications. Our projects utilize:</p>
    <ul>
        <li><strong>IAM (Identity and Access Management):</strong> Securely managing access to services and resources.
        </li>
        <li><strong>DynamoDB:</strong> A fast and flexible NoSQL database service for any scale.</li>
        <li><strong>Amazon SNS (Simple Notification Service):</strong> Fully managed messaging for microservices,
            distributed systems, and serverless applications.</li>
        <li><strong>Amazon EC2 (Elastic Compute Cloud):</strong> Secure and resizable compute capacity for virtually any
            workload.</li>
    </ul>
</div>
{% endblock %}