{% extends 'base.html' %}

{% block title %}Home - Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Hello, {{ username }}!</h1>
    <p>Welcome to FaveBy! Have a great experience shopping.</p>

<h2>Your Offers</h2>

<div class="campaign-container">
{% if campaigns %}
    {% for c in campaigns %}

        <a href="{{ url_for('campaign_click', campaign_id=c.id) }}" class="campaign-card">
            <h3>{{ c.name }}</h3>
            <p>{{ c.offer }}</p>
            <small>{{ c.start_time }} → {{ c.end_time }}</small>
        </a>
        
    {% endfor %}
{% else %}
    <p>No offers available right now.</p>
{% endif %}
</div>

</div>
<div class="home-images">
    <div class="product-container">
        {% for product in products %}
            <div class="product-card">
                <a href="{{ url_for('product_detail', product_id=product.id) }}">
                    <img src="{{ url_for('static', filename=product.image) }}"
                         alt="{{ product.name }}"
                         class="home-image">
                </a>
                <p>{{ product.name }}</p>
                <p>₹{{ product.price }}/-</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
